CRM_BACKEND_PROTOCOL=
CRM_BACKEND_HOSTNAME=
CRM_BACKEND_PORT=
CRM_BACKEND_URL="${CRM_BACKEND_PROTOCOL}://${CRM_BACKEND_HOSTNAME}:${CRM_BACKEND_PORT}"
AUTH_SERVICE_PROTOCOL=
AUTH_SERVICE_HOSTNAME=
AUTH_SERVICE_PORT=
AUTH_SERVICE_URL="${AUTH_SERVICE_PROTOCOL}://${AUTH_SERVICE_HOSTNAME}:${AUTH_SERVICE_PORT}"
AUTH_SERVICE_SECRET_KEY=